<!-- app/views/user_mailer/verify_email.html.erb -->
<h1>Verify Your Email Address</h1>
<p>Please click the following link to verify your email address:</p>
<a href="<%= @verification_link %>">Verify Email</a>
